/*ANIMACIONES MOVILES*/
@media only screen and (max-width: 768px){

}
/*ANIMACIONES ORDENADOR*/
@media only screen and (min-width: 768px){
    /*Luffy*/
    @keyframes LFYpistoru {

    }
    @keyframes LFYgatoringu {
        from {
            color: #dadada;
            opacity: 0.1;
        }
        50% {
            opacity: 1;
        }
        to {
            color: #fb1515;
            opacity: 0.1;
        }
    }
    @keyframes LFYrifle {

    }
    @keyframes CQhaki {

    }
}
