/*WIKI CSS*/
* {
	font-family: Roboto, Robot, sans-serif;
}
@font-face {
	font-family: Robot;
	src: url(../recursos/fonts/robotoregular.ttf);
}
@font-face {
	font-family: Robot;
	src: url(../recursos/fonts/robotobold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: Robot;
	src: url(../recursos/fonts/robotoitalic.ttf);
	font-style: italic;
}